body, html{
    height: 100%;
}

body{
    font-family: 'VT323', monospace;
    color: $font-color;
    background: #607D8B;
    font-size: 24px;
    line-height: 150%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

b{
    font-weight: normal;
}

p{
    margin-bottom: 10px;
}

.page {
    width: 90vw;
    height: 80vh;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
    overflow: auto;
}

.perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
}

.page-ontop {
	z-index: 999;
    visibility: visible;
}

.current{
	visibility: visible;
	z-index: 1;
}

.page-home{
    background: pink;
}

.page-1 {
    background: map-get($page-background, first-page);
}

.page-2 {
	background: #7bb7fa;
}

.page-3 {
	background: lightpink;
}

.page-4 {
	background: lightblue;
}

@each $page, $background in $page-background {
    .page-#{$page} {
        background: $background;
    }
}


.container{
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
}


.row{
    display: block;
}

.left-side{
    width: 100%;
    padding: 0 10px 20px 20px;
}

.right-side{
    width: 100%;
    position: static;
}

.next-btn{
    margin-top: 10px;
}

.scrolled-parent{
    height: calc(90vh - 75px);
    overflow: auto;
    
    .scrolled-child{
        height: auto;
    }
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.text-input {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $font-color;
    color: $font-color;
    font-family: inherit;
    width: 220px;
    font-size: inherit;
    
    &:active, &:focus{
        outline: none;
    }
}

#players-name{
    display: none;
}

#custom-form{
    display: none;
    padding: 10px;
    background: $font-color;
    color: #333;
    width: 300px;
    max-width: 100%;
}

.form-field{
    padding: 13px 0;
}

.btn{
    text-decoration: none;
    background: #FF6473;
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0 5px 0 #ff4053;
    transition: position .2s ease;
    position: relative;
    display: inline-block;
    color: #fff;
    appearance: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    cursor: pointer;
    
    &:hover{
        background: darken($btn-color, 2%);
    }
    
    &:active{
        box-shadow: none;
        bottom: -5px;
        outline: none;
    }
    
    &:focus{
        outline: none;
    }
    
    &.disable{
        visibility: hidden;
    }
    
    &.lg{
        padding: 10px 30px;
    }
}

#go-btn{
    transform: translateX(-200%);
    transition: transform .3s cubic-bezier(.08,1.84,0,.67);
    
    &.in{
        transform: translateX(0);
    }
}

.credits{
    position: absolute;
    bottom: 0;
    left: 10px;
    
    p{
        font-size: 10px;
        color: #aaa;
    }
    
    a, a:active, a:focus, a:hover{
        color: $font-color;
    }
}


//typing animation
.typing-text{
    opacity: 0;
    display: inline-block;
    position: relative;
    
    &.shown{
        opacity: 1;
    }
    
    &.typing{
        &:after{
            content: '';
            position: absolute;
            right: -2px;
            top: 50%;
            transform: translateY(-50%);
            height: 60%;
            width: 1px;
            background-color: $font-color;
        }
        
        &.waiting{
            &:after{
                animation: pulse .6s ease infinite;
            }
        }
    }
    
    i{
        display: none;
        font-style: normal;
        
        &.in{
            display: inline;
        }
    }
}

#username{
    opacity: 0;
    width: 0;
    transition: width .3s ease;
    
    &.shown{
        opacity: 1;
        width: 170px;
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page-controls{
    position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5vw;
}

.controls{
    input[type="radio"] {
        display: none;
        
        &:checked + label{
            box-shadow: 0 0 0 2px $font-color;
            
            svg{
                fill: $font-color;
            }
        }
    }
    
    label{
        cursor: pointer;
    }
    
}

.gender-selection{
    label{
        display: inline-block;
        height: 60px;
        padding: 5px;
        margin-right: 10px;
        
        &:last-child{
            margin-right: 0;
        }
    }
    
    svg{
        width: 50px;
        fill: #aaa;
    }
}

.color-selection{
    display: flex;
    justify-content: flex-start;
    
    input:checked + label{
        box-shadow: 0 0 0 2px $font-color;
    }
    
    label{
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        overflow: hidden;
        margin-right: 10px;
        
        &:last-child{
            margin-right: 0;
        }
        
        i{
            display: block;
            width: 100%;
            height: 100%;
            
            &.light{
                position: absolute;
                top: 0;
                left: 0;
                width: 135%;
                height: 135%;
                transform: rotate(45deg) translateX(33%);
            }
        }
    }
}


#avatar-wrapper{
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}

#ice-cream-to-color{
    height: 100%;
    margin: 0 auto;
    display: block;
    
    path, ellipse, polygon{
        stroke: $font-color;
        stroke-width: 2px;
        fill: white;
    }
}

.page-2{
    .container{
        position: relative;
    }
    
    .picture{
        height: 50vh;
    }
    
    .pencils-wrapper{
        height: 15vh;
        width: 100%;
        display: flex;
        overflow: hidden;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        
        a{
            display: block;
            height: 100%;
            margin-top: 22px;
            transition: .3s ease;
            
            &:focus{
                outline: none;
            }
            
            &.active{
                margin-top: 0;
            }
        }
        
        svg{
            max-width: 100%;
            height: 200%;
            transform: rotate(180deg);
            
            &:focus{
                outline: none;
            }
            
            path{
                stroke: $font-color;
                stroke-width: 2px;
                fill: white;
            }
        }
    }
}


//Media queries

//Tablets and horizontal phones
@media screen and (min-width: 730px) {
    .container{
        width: 100%;
        padding: 20px;
    }
    
    .row{
        display: flex;
        align-content: space-between;
        align-items: flex-start;
        position: relative;
    }
    
    .page-2{
        
        .row{
            display: block;
            position: static;
        }
    }
    
    .right-side{
        width: 50%;
        position: fixed;
        right: 0;
        top: 20px;
    }
    
    .left-side{
        width: 50%;
    }
}


//Netbooks
@media screen and (min-width: 960px) {
    
    .page-2{
        
        .pencils-wrapper{
            left: 0;
            top: 0;
            height: 100%;
            
            a{
                transform: rotate(90deg);
            }
        }
        
        .picture{
            height: 60vh;
            margin-top: 5vh;
        }
    }
}


//Notebooks
@media screen and (min-width: 1200px) {
    .container{
        width: 90%;
    }
    .page{
        width: 90%;
    }
}


//animation cube
.page-rotateCubeLeftOut {
	transform-origin: 100% 50%;
	animation: rotateCubeLeftOut 1s both ease-in;
}
.page-rotateCubeLeftIn {
	transform-origin: 0% 50%;
	animation: rotateCubeLeftIn 1s both ease-in;
}

.page-rotateCubeRightOut {
	transform-origin: 0% 50%;
	animation: rotateCubeRightOut 1s both ease-in;
}
.page-rotateCubeRightIn {
	transform-origin: 100% 50%;
	animation: rotateCubeRightIn 1s both ease-in;
}



@keyframes rotateCubeLeftOut {
	0% { }
	50% { 
        animation-timing-function: ease-out;    
        transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); 
    }
	100% { 
        opacity: .3; 
        transform: translateX(-100%) rotateY(-90deg); 
    }
}

@keyframes rotateCubeLeftIn {
	0% {  transform: translateX(100%) rotateY(60deg); 
    }
	50% { 
        animation-timing-function: ease-out;   
        transform: translateX(50%) translateZ(-200px) rotateY(45deg); 
    }
}

@keyframes rotateCubeRightOut {
	0% { }
	50% { 
        animation-timing-function: ease-out; 
        transform: translateX(50%) translateZ(-200px) rotateY(45deg); 
    }
	100% { 
        opacity: .3; 
        transform: translateX(100%) rotateY(90deg); 
    }
}

@keyframes rotateCubeRightIn {
	0% { 
//        opacity: .3; 
        transform: translateX(-100%) rotateY(-60deg); 
    }
	50% { 
        animation-timing-function: ease-out; 
        transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); 
    }
}


@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


//horizontal radio select
.horizontal-select{
    width: 150px;
    margin: 0 35px;
    
    input{
        display: none;
    }
    
    label{
        display: block;
    }
}


.onoffswitch {
    position: relative; width: 82px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid $font-color; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
    color: $font-color;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "On";
    padding-left: 10px;
    background-color: #00BD5B; color: $font-color;
}
.onoffswitch-inner:after {
    content: "Off";
    padding-right: 10px;
    background-color: #aaa; color: $font-color;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 40px; margin: 0px;
    background: $font-color;
    position: absolute; top: 0; bottom: 0;
    right: 42px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}




//////// PAGE 1
.page-1{
    .container{
        text-align: center;
    }
    
    .row{
        text-align: left;
    }
}



//Tablets and horizontal phones
@media screen and (min-width: 730px) {
    
    .page-1{
        .container{
            text-align: left;
        }
        
        .scrolled-parent {
            height: calc(90vh - 96px);
        }
    }
}


@media screen and (min-height: 800px) {
    .right-side {
        width: 50%;
        position: fixed;
        right: 30px;
        top: 70px;
    }
}





